PORT=4000
NODE_ENV=development
DATABASE_URL="postgresql://postgres:@_hX.2B?b+nb*EwD@db.gynhjbazavdpzaaiuazu.supabase.co:5432/postgres"
JWT_SECRET="Enzo-Momo"
JWT_EXPIRES_IN="7d"
CORS_ORIGIN="http://localhost:3000"